/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/nbproject/

/app/files/*

/app/config/parameters.yml
/app/phpunit.xml
/build/build.properties

/connect
/backups/*
/.rsync_cache
*~

!*.gitkeep